.wrapper{
    color: #332;
    margin: 2rem auto;
    min-width: 300px;
    text-align: center;
    /* background-color: #fff; */
    max-width: 90vw;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    /* margin-top: 2rem; */
    grid-template-rows: repeat(2,minmax(100px,auto));
    grid-auto-rows: minmax(100px,auto) ;
    grid-gap: .6rem;

}

.main_area{
    text-align: center;
    text-align: left;
    padding: 1.5rem 0.5rem;
    font-family: "Montserrat";
    font-size: 1.4rem;
    /* background-color: #282D4F; */
    /* background-color: #eff5f4; */
    width: 100%;
    /* min-height: 18rem; */
    /* height: 100%; */
    grid-row: 2/3;
    grid-column: 1/13;
    border-radius: .5rem;
}

.sidebar_folder{
    text-align: left;
    padding: .6rem 1rem;
    font-family: "Montserrat";
    font-size: 1.2rem;
    /* background-color: #eff5f4; */
    background-color: #EFF5F4;
    word-break: break-all;
    width: 100%;
    max-width: 450px;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/9;
    border-radius: .5rem;

}

.sidebar_color{
    width: 100%;
    text-align: left;
    padding: .6rem .8rem;
    font-family: "Montserrat";
    font-size: 1.2rem;
    height: 100%;
    background-color: #eff5f4;
    grid-row: 1/2;
    grid-column: 9/13;
    border-radius: .5rem;
}

@media screen and (min-width : 600px) {

    .wrapper{
            grid-template-columns: repeat(3, 1fr);
            /* margin-top: 2rem; */
            grid-template-rows: repeat(3, minmax(100px,auto));
        max-width: 80vw;
    }

    .sidebar_folder {
        grid-row: 2/5;
        grid-column: 3/4;
    }
    .main_area {
        min-height: 38rem;
        grid-row: 1/5;
        grid-column: 1/3;
    }


    .sidebar_color {
        grid-row: 1/2;
        grid-column: 3/4;
    }
}
@media screen and (min-width : 768px) {
    .wrapper{
        max-width: 70vw;
    }
}
@media screen and (min-width : 1440px) {
    .wrapper{
        width: 70vw;
        max-width: 1200px;
    }
}
/*********** side bar folder *************/

.folder_container{
    font-size: 1rem;

}

.folder_container div{

   
    border-radius: .6rem;
  
}

.folder_item{
     border-radius: .6rem;
    margin: 1rem 0rem;
    background: #42CFCF;
    color: #0F1228;
    cursor: pointer;
    padding: .5rem 1rem;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    /* height: 40px; */
    line-height: 40px;
}

.folder_item h3{
    font-weight: 500;
    /* line-height: 20px; */
    /* line-height: inherit;
     */
     word-wrap: break-word;
     
}

.folder_item-btns{
    display: flex;
    height: 100%;
    margin: 0 0;
}

.folder_item-btns div{
    height: 100%;
    /* line-height: 40px; */
    margin: 0 .8rem;

}


.add_folder{
    margin: .6rem 0rem;
      font-weight: 600;
    text-align: center;
    /* background: #20283E; */
    color: #20283E;
     padding: .6rem 1rem;
    border: 2px solid #20283E;
}

.add_folder:hover{
    /* background:#A592F2; */
    background-color: #20283E;
    transition: .2s ease-in-out;
    color: #eee;
    cursor:pointer;

}
/********************** side bar colour *****************************/

.color_container{
    display: grid;
    padding-top: .8rem;
    grid-template-columns: repeat(2,1fr);
    grid-gap: .3rem;
    grid-auto-rows: minmax(40px,auto);
}

.color_item{
    border-radius: .5rem;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}
.color_item path{
    position: relative;
}
.color_item_check{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.add-color_item{
    border-radius: .5rem;
    text-align: center;
    line-height: 40px;
    font-size: 1.8rem;
    color: #20283E;
    border: 2px solid #20283E;
    cursor: pointer;
    
}

.add-color_item:hover{
    background-color: #20283E;
    color: #eee;
    transition: .2s ease-in-out;
}

.color_item-fg{
    height: .8rem;
    width: .8rem;
    border-bottom-right-radius: .5rem;
    position: relative;
    left: 100%;
    top: 100%;
    transform: translate(-100%,-100%);
    
}

@media screen and (min-width : 768px) {
    .color_container {
    grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width : 1024px) {
    .color_container {
    grid-template-columns: repeat(4, 1fr);}
}
@media screen and (min-width : 1440px) {
    .color_container {
    grid-template-columns: repeat(5, 1fr);}
}

/*********************** main area ****************************************/



.main_container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-top: 1rem;

}

.main_item{
    /* border: 1px solid red;
    colo */
    color: #20283E;
    background: #EFF5F4;
    padding: 1rem 2rem;
    border-radius: .4rem;
    margin: .5rem 0rem;
}



.main_item-head{
    text-align: center;
    padding: 0rem 0 1rem 0;
}

.main_item-title{
    padding: .4rem .2rem 1rem 0rem;
}

.main_item h3{
    font-size: 1.4rem;
    word-break: break-all;
    font-weight: 400;
}

.main_item p {
    font-size: 1.1rem;
    word-break: keep-all;
    overflow: hidden;
}

.main_item-buttons{
    padding: .8rem 0rem .4rem 0rem;
    display: flex;
    justify-content: space-between;
}

.main_item-buttons button{
    min-width: 100px;
    min-height: 40px;
    border-radius: .3rem;
    outline: none;
    background: transparent;
    border: 1px solid #20283E;
    cursor: pointer;
}

.main_item-buttons button:hover{
    /* color: #F44336; */
    border-width: 2px;
}
.not_selected_item {
        color: #20283E;
        background: #EFF5F4;
        padding: 2rem 4rem;
        border-radius: .4rem;
        margin: .5rem 0rem;
        font-weight: 300;

}
.not_selected_item p{
    padding: .6rem 0rem;
    font-weight: 300;
}
.not_selected{
    text-align: center;
    padding: .6rem;
    padding-bottom: 2rem;
    color: rgb(201, 42, 42);
    font-weight: 400;
}

.addCard{
    margin: .6rem 0rem;
    font-weight: 600;
    text-align: center;
    color: #20283E;
    padding: .6rem 1rem;
    border: 2px solid #20283E;
    font-size: 1.2rem;
    border-radius: .6rem;

}

.addCard:hover{
    background-color: #20283E;
    transition: .2s ease-in-out;
    color: #eee;
    cursor:pointer;
}
